{{- $workLaptop := promptBoolOnce . "workLaptop" "Is this a work laptop" false -}}
{{- $email := promptStringOnce . "email" "Git email address" -}}
{{- $company := "" -}}
{{- if $workLaptop -}}
{{-   $company = promptStringOnce . "company" "Company name" -}}
{{- end -}}
sourceDir: {{ .chezmoi.sourceDir | quote }}
mode: symlink

edit:
  command: code
  args:
    - --wait

data:
  workLaptop: {{ $workLaptop }}
  email: {{ $email | quote }}
  company: {{ $company | quote }}
