{{- $workLaptop := promptBoolOnce . "workLaptop" "Is this a work laptop" false -}}
sourceDir: {{ .chezmoi.sourceDir | quote }}
mode: symlink

edit:
  command: code
  args:
    - --wait

data:
  workLaptop: {{ $workLaptop }}
